.container-Search{
    background-color: transparent;
    flex: 1;
    text-align: right;
    margin-right: 2rem;
}

.icon-search{
    margin:  auto 0.5rem;
    font-size: 20px;
}

.input-Search{
    text-align: center;
    border-radius: 1rem;
    padding: .35rem 2.5rem ;
    display: inline-block;
    text-align:start;
}

p{
    text-align: center;
    color: rgb(77, 77, 77);
}

.btn-search{
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    box-shadow:none !important;
}
@media only screen and (max-width: 800px) {
    .input-Search{
        padding: .35rem .5rem ;
        margin-top: 1rem;
        margin-bottom: .8rem;
    }
    .icon-search{
        display: none;
    }
}