.mainContainer{
    margin: auto;
    padding: 0;
    position: relative;
}

.container-controller {
    border: 1px solid #fff;
    width: 50.3%;
    flex-direction: column;
    height: 30%;
    position: relative;
}

.container-overInfo{
    display: flex;
    margin-top:5rem;
}

.card-info{
    display: flex;
    flex-direction: row;
    margin:0 1rem;
    width: 80rem;
    z-index: 1;
}

.moreInfo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
}

.moreInfoSpan{
    margin: .4rem 0;
    padding: auto;
    display: flex;
    justify-content: end;
}

.moreInfoSpan a{
    color: aqua;
}

.bold{
    font-weight: bold;
}

.details{
    margin: 0;
    padding: 0;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.destaque{
    font-weight: 400;
    color:aqua;
}

.details p{
    margin-bottom: 1px;
    text-align: left;
}

@media (max-width:1366px) {
    .container-video{
        right: 15rem;
    }
}

.container-video{
    position: relative;
    display: flex;
    width: 200%;
    right: 13rem;
}

.container-modal{
    border: none !important;
    color: #fff;
    background-color: #00ccff0c;
    display: flex;
    justify-content: center;
    font-size: 10px;
    font: 600;
}
.modal-content{
    background-color: transparent !important;
    border: none !important;
}

.modal-dialog{
    top: 3rem;
    background-color: transparent;
}

.modal-body{
    background-color: transparent;
    border: none !important;
}

.text-info{
    align-items: center;
    margin-top: 1.6rem;
    width: 65%;
    height: 95%;
    position: relative;
    z-index: 2;
}

.card-post{
    width:26%;
    padding-right: 1rem;
}
.card-post img{
    display: flex;
    width: 100%;
    height: 25rem;
    margin-top: 1.6rem;
}

.btnsContainer{
    width: 100%;
    padding: .5rem;
    border-bottom: 1px solid #fff;
    align-items: flex-start;
    display: flex;
}
.btnsContainer button{
    margin-right:.4rem;
}

.fa-solid{
    background: transparent;
    margin-right: .5rem;
}

.titlePag{
    background: transparent;
    color: aqua;
    position: relative;
    font-size: 1.3rem;
    margin-top: 1.5rem;
    font-weight: bold;
    font-family: "Lalezar", system-ui;    
}

.video{
    position: relative;
    background-color: aliceblue;
    width: 200%;
}

.dFleX{
    display: none;
}

.dFleY{
    display: block;
}

.textView{
    background: transparent;
    color: #fff;
    position: relative;
    font-size: .95rem;
    font-family: "Lalezar", system-ui;    
}

