*{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.fontWhite{
  color: white;
  font-size: 1.5rem;
  font-family: "Lalezar", system-ui;    
}

.conteudo{ 
  top: 50%;
  left: 55%;
  transform: translate(-50%, 100%);
  background: transparent;
  color: #fff;
  position: fixed;
  top: 8rem;
  font-size: 2rem;
  font-family: "Lalezar", system-ui;    
}

.title-pagName{ 
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: #fff;
  position: fixed;
  top: 8rem;
  font-size: 2rem;
  font-family: "Lalezar", system-ui;    
}

@media only screen and (max-width: 800px) {
  .title-pagName{
    left: 64%;
  }
}

.container-footer {
  color: #fff;
  display: flex;
  border: none;
  border-top:1px solid rgb(13, 100, 0);
  width: 100%;
  font-size: 2rem;
  font-family: "Lalezar", system-ui; 
  height: 10rem;
  align-items: center;
  justify-content: center;
}

.container-ft{
  background-color: transparent;
  color: #ffffff;
}

:root{
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Anta", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

.flex-item{
  margin: 1rem;
  gap: 1rem .5em;
  width: 15rem;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgba(30, 255, 0, 0.158);
}

.flex-item:hover, .card-poster:hover{
  background-color: rgba(30, 255, 0, 0.438);
}

.card-poster{
  width:100%;
  padding: .5rem;
  height: auto;
}

.card-title{
  font-size: 1rem;
  color: #fff;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description{
  color: #fff;
  font-size: .8rem;
  text-align: left;
  padding: 1rem;
  height:auto;
}

.list{
  background-color: transparent;
  color: aliceblue;
  flex-flow: row wrap;
  display: flex;
  align-content: center;
  margin-top:2rem
}

.title-pagName{ 
  left: 55%;
  transform: translate(-50%, -50%);
  background: transparent;
  color: #fff;
  position: fixed;
  border-bottom: #fff solid 1px;
  top: 8rem;
  font-size: 2rem;
  font-family: "Lalezar", system-ui;    
}