*{
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.fontWhite{
  color: white;
  font-size: 1.5rem;
  font-family: "Lalezar", system-ui;    
}

.conteudo{ 
  top: 50%;
  /* left: 55%;
  transform: translate(-50%, 100%); */
  background: transparent;
  color: #fff;
  position: fixed;
  top: 8rem;
  font-size: 2rem;
  font-family: "Lalezar", system-ui;    
}

.title-pagName{ 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: #ffff;
  position: absolute !important;
  z-index: 1;
  top: 7rem;
  font-size: 2rem;
  font-family: "Lalezar", system-ui;    
}

@media only screen and (max-width: 800px) {
  .title-pagName{
    left: 64%;
  }
}

.container-footer {
  color: #fff;
  display: flex;
  border: none;
  border-top:1px solid rgb(2, 0, 100);
  width: 100%;
  font-size: 2rem;
  font-family: "Lalezar", system-ui; 
  height: 10rem;
  align-items: center;
  justify-content: center;
}

.container-ft{
  background-color: transparent;
  color: #ffffff;
}

:root{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Anta", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

.flex-item{
  gap: .3rem .1rem;
  width: 10rem;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 1rem;
}

.flex-item:hover{
  background-color: rgba(17, 17, 17, 0.438);
}

.card-title{
  font-size: 1rem;
  color: #fff;
}

.description{
  color: #fff;
  font-size: .8rem;
  text-align: left;
  padding: 1rem;
  height:auto;
}

.list{
  background-color: transparent;
  color: aliceblue;
  flex-flow: row wrap;
  display: flex;
  align-content: center;
  margin-top:2rem;
  width: 100%;
  cursor:pointer;
}

.flex-container{ 
  margin-left: 2%;
  margin-top: 8rem;
  width: 100%;
  background: transparent;
  color: #fff;
  font-size: 2rem;
  font-family: "Lalezar", system-ui;
}

.flex-item img,
.flex-item p {
  pointer-events: none; 
}
