.container-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0); 
    padding: 1.1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid rgb(13, 100, 0);
}

.logo-title,
nav h1{
    color:#ffffff;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    background: transparent;
    font-weight: bold;
    font-family: "Anta", sans-serif;
    display: flex;
}

.logo-color-change{
    animation: changeColor 2s infinite alternate;
}

nav{
    display: flex;
    justify-content: center;
    margin-left: 15rem;
    padding: 0 1rem;
    color: #fff;
    background: transparent;
}


@keyframes changeColor {
    0% {
        color: rgb(34, 255, 0); /* Define a cor inicial */
    }
    100% {
        color: rgb(0, 66, 13); /* Define a cor no meio da animação */
    }
  }
.logo-img{
    background-color: transparent;
    width: 2rem;
    margin: 0;
    filter: invert(100%);
}

.logo{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    left: 3rem;
    position:fixed;
}

