/* estilizar os options */
#options{
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
}

.options-container{
    position: fixed;
    right: 18rem;
    top: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

select{
    border-radius: 1rem;
    border: none;
    background: none;
    outline: none;
    font-family: "Lalezar", system-ui;
    font-weight: 600;
}

.custom-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position:right;
    background-repeat: no-repeat;
}

.custom-select{
    min-width: 200px;
    padding:0 2rem;
}

.seta{
    background-image: url('../assets/seta.png');
    background-size: 20px;
}

option{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select option {
    text-align: start;
    font-size: 1rem;
    border-radius: 1rem;
    border: none;
}

select option:checked {
    color: rgb(14, 105, 0);
}
