.mainContainer{
    margin: auto;
    padding: 0;
    position: relative;
}

.carousel{
  left: 100%;
  transform: translate(-50%, -15%);
  background-color: transparent;
  color: #ffff;
  position: relative !important;
  z-index: 1;
  top:11rem;
  font-size: 2rem;
  font-family: "Lalezar", system-ui;    
}

.carousel-indicators{
    background-color: transparent;
}

@media only screen and (max-width: 1366px) {
    .carouselDp{
        top: 11rem;
        left: 88%;
    }
    .carousel-inner img{
        width: 25rem;
        height: 20rem;
    }

    .carousel{
        width: 40rem;
    }
}

.carousel{
    width: 49rem;
    height: 30rem;
}

.carousel-inner img{
    /* width: 35rem; */
    height: 30rem;
}