.movie-list{
    background-color: transparent;
    color: aliceblue;
    flex-flow: row wrap;
    display: flex;
    align-content: center;
}

.flex-container{ 
    margin-left: 12%;
    margin-top: 8rem;
    width: 87%;
    background: transparent;
    color: #fff;
    font-size: 2rem;
    font-family: "Lalezar", system-ui;
}

.card-title{
    font-size: 1rem;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.description{
    color: #fff;
    font-size: .8rem;
    text-align: left;
    padding: 1rem;
    height:auto;
}

li{
    position: relative;
    flex-direction: column;
    flex: 1 1 15rem;
    flex-direction: column;
    list-style: none;
    display: flex;
    font-size: 1rem;
}
.flex-item{
    margin: 1rem;
    gap: 1rem .5em;
    width: 15rem;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: rgba(30, 255, 0, 0.158);
}

.flex-item:hover, .card-poster:hover{
    background-color: rgba(30, 255, 0, 0.438);
}

.card-poster{
    width:100%;
    padding: .5rem;
    height: auto;
}
