
.mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title-pagName{ 
    left: 55%;
    transform: translate(-50%, -50%);
    background: transparent;
    color: #fff;
    position: fixed;
    border-bottom: #fff solid 1px;
    top: 8rem;
    font-size: 2rem;
    font-family: "Lalezar", system-ui;    
  }