
.mainContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.card-poster{
    width:100%;
    height: auto;
    border-radius: 1rem;
}

.card-poster:hover{
    background-color: rgba(17, 17, 17, 0.438);
  }
  