.container-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0); 
    padding: 1.1rem 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    z-index: 2;
    animation: changeColorBorder 2s infinite alternate;
}

@keyframes changeColorBorder {
    0% {
        border-bottom:2px solid rgb(0, 71, 225); /* Define a cor inicial */
    }
    50% {
        border-bottom:2px solid rgb(0, 47, 255); /* Define a cor no meio da animação */
    }
    75% {
        border-bottom:2px solid rgb(68, 0, 255); /* Define a cor no meio da animação */
    }
    100% {
        border-bottom:2px solid rgb(53, 2, 148); /* Define a cor no meio da animação */
    }
  }

.logo-title,
nav h1{
    list-style-type: none;
    color:#ffffff;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    background: transparent;
    font-weight: bold;
    font-family: "Anta", sans-serif;
    display: flex;
    text-decoration: none;
}

.logo-color-change{
    animation: changeColor 2s infinite alternate;
}

nav ul{
    text-decoration: none;
    list-style-type: none;
}

nav{
    display: flex;
    justify-content: center;
    margin-left: 15rem;
    list-style-type: none;
    text-decoration: none;
    padding: 0 1rem;
    color: #fff;
    background: transparent;
}


@keyframes changeColor {
    0% {
        color:rgb(0, 71, 225); /* Define a cor inicial */
    }
    50% {
        color:rgb(0, 47, 255); /* Define a cor no meio da animação */
    }
    75% {
        color:rgb(68, 0, 255); /* Define a cor no meio da animação */
    }
    100% {
        color:rgb(53, 2, 148); /* Define a cor no meio da animação */
    }
  }

@media only screen and (max-width: 800px) {
    .nav{
        margin-left: 15rem;
        padding: 0 1rem;
    }
    .logo-title,
    nav h1{
        font-size: 1.5rem;
    }
    .container-header{
        padding: 0rem 0;
    }
    nav{
        margin-left: 12rem;
    }
}

.logo{
    padding: 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    left: 5rem;
    list-style-type: none;
    position:fixed;
}

.genders{
    display: flex;
    padding:0;
    margin: 0 2.5rem 0 0;
    justify-content: center;
    align-items: center;
    position: relative;
}

.iconX{
    margin-top: -1.4rem;
    position: relative;
    cursor: pointer;
    z-index:5;
    display: inline-block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.iconX i {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.iconX .fa-bars {
    opacity: 1;
    transform: scale(1); /* Tamanho normal */
}

.iconX .fa-xmark {
    opacity: 0;
    transform: scale(0.5); /* Começa menor e invisível */
}

.iconX.active .fa-bars {
    opacity: 0;
    transform: scale(0.5); /* Fica menor e invisível */
}

.iconX.active .fa-xmark {
    opacity: 1;
    transform: scale(1); /* Fica no tamanho normal e visível */
}

.lis-container{
    right: 0;
    top: 0;
    display: flex;
    list-style-type: none;
    flex-direction: column;
    background-color: rgba(17, 17, 17);
    align-items: stretch;
    height: 100%;
    position:fixed;
    overflow-x: hidden;
}

.list-genders{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    background:none;
    list-style-type: none;
    flex-wrap: wrap;
    padding:3rem 3rem;
}

.list-genders ul{
    text-decoration: none;
    list-style-type: none;
    flex-direction: column;
    list-style: none;
}

.list-genders ul a{
    text-align:left;
    font-size: 1.1rem;
    text-decoration: none;
    margin: 0;
    padding: 0;
    margin-bottom: .8rem;
    text-align:left;
    color: #fff;
    font-weight: 400;
}

.list-genders ul a:hover{
    text-decoration: none;
    color:rgb(53, 53, 53);
}

.list-genders ul p{
    margin-bottom: .8rem;
    text-decoration: none;
    text-align:left;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    width: 3px;
    border-radius: 13px;
}
::-webkit-scrollbar-track {
    background: #a1f9ff;
    border-radius: 13px;
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 225, 225);
    border-radius: 13px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 138, 138);
}